/* Contenedor de la barra de navegacion */

body {
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  padding-bottom: 10px;
  border-style: solid;
}

.navbar a {
  float: right;
  font-size: 16px;
  padding: 25px;
  text-decoration: none;
  font-weight: bold;
  padding-right: 70px;
  color: #efe9dd;
}

.name-logo h1 {
  font-size: 18px;
  color: #efe9dd;
  padding: 20px;
  padding-left: 10%;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}

/* Estilo para la seccion hero */

.hero h1 {
  margin-top: 9%;
  padding-left: 10%;
  font-size: 3em;
  color: white;
}

.hero h2 {
  margin-top: 0.2%;
  padding-left: 10%;
  font-size: 3em;
  display: inline-block;
  color: white;
}

.hero p {
  margin-bottom: 1%;
  padding-left: 10%;
  text-align: justify;
  font-size: 1.4rem;
  line-height: 0.8rem;
  font-family: sans-serif;
  color: white;
}

/* Contenedor principal del hero */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  height: 100%;
  background-color: #010e29;
  padding: 10%;
}

/* CSS de la imagen de perfil en el hero */
/* Este es para la ubicacion de la foto de perfil en el hero */
.prof-imagen img {
  width: 350px;
  height: auto;
  padding-top: -300px;
  position: absolute;
  top: 20%;
  right: 12%;
  border-radius: 1.5rem;
}

/* CSS del boron iniciar */
/* Los primeros dos son para tamaño, ubicacion, letra, estilo del boton */

.boton-iniciar {
  margin-left: 77%;
  padding-left: 180%;
  margin-top: 25px;
  padding: 16px 95px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #000000;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

/* estos de aqui abajo son las animaciones hechas del boton */

.boton-iniciar::before,
.boton-iniciar::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.boton-iniciar::before {
  left: -10px;
  background: #150ae8d1;
}

.boton-iniciar::after {
  right: -10px;
  background: #150ae8d1;
}

.boton-iniciar:hover::before,
.boton-iniciar:hover::after {
  width: 58%;
}

.boton-iniciar:hover span {
  color: #ffffff;
  transition: 0.3s;
}

.boton-iniciar span {
  color: #000000;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
/* Hasta aqui termina la animacion del boton 'comenzar' a ver si podemos aplicarlo al navbar. */

/* este es el css del espacio donde estan metidas las cards de esta seccion */

.about-me {
  background-color: #010e29;
  color: white;
  padding: 100px;
  min-height: 400px;
  overflow: hidden; /* evita que algo se desborde */
  width: 89.6%;
}

/* Este es el css del titulo de aboutme */

.about-title {
  padding: 60px;
  background-color: rgb(0, 0, 0);
}

.about-title h2 {
  font-size: 8rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about-title {
  letter-spacing: 8px;
  line-height: 8px;
}

/* este css de abajo es para la animacion de girar las tarjetas */

.card {
  height: 500px;
  width: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
  margin-left: 150px;
}

.card:hover {
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1e4d1;
  backface-visibility: hidden;
  color: black;
}

.back-card {
  transform: rotateY(180deg);
}

.card2 {
  height: 500px;
  width: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
  margin-left: 650px;
  margin-top: -500px;
}

.card2:hover {
  transform: rotateY(180deg);
}

.card3 {
  height: 500px;
  width: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
  margin-left: 1150px;
  margin-top: -500px;
}

.card3:hover {
  transform: rotateY(180deg);
}

/*  Espacio del titulo de Proyectos que va antes del contenido principal */

.proyectos-title {
  background-color: #000000;
  padding: 15px;
}

/* este es el css donde va ir el titulo de proyectos */

.proy-title h2 {
  font-size: 8rem;
  line-height: 10px;
  letter-spacing: 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

/* Este es el css del contender donde esta el contenido de los proyectos */

/* este css es nada mas back por si llega a salir algo mal en el nuevo que vamos a crear */

/* de aqui para abajo solo va el contendido */
/* Prueba 1 sacada del google */

/* 
.slide {
  width: 50%;
  flex-shrink: 0;
  position: relative;
  height: 50%;
}

.slide img {
  width: 100%;
  display: block;
}

.carrusel-subtitulos {
  position: relative;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgb(0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.carrusel-subtitulos h3 {
  margin-top: 0;
}

/* css de los botones */
/* .prev-btn, */
/* .next-btn {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10; */
/* } */

/* .prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.body-carrusel {
  width: 100vw;
  height: 70vh;
  background-color: #010e29;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;

  /*CONTENEDOR DEL CARRUSEL */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  overflow: hidden;
}

/*contenedor del carrusel */

.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* basicamnente de aqui abjo es donde va titulo y imagenes */
.imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.img {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
  height: 576px;
  width: 1134px;
  border-radius: 15px;
  margin: 5px;
  object-fit: cover;
  filter: saturate(175%);
}

.texto {
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  transform: translateY(0px);
  margin-bottom: 9px;
  backdrop-filter: blur(20px);
  background-color: rgb(63, 106, 138, 0.21);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.texto h3 {
  text-shadow: 0px 0px 15px black;
  padding-top: 40px;
  color: white;
  font-weight: 300;
  font-size: 27px;
}

.texto p {
  align-items: center;
  padding: 20px;
  color: white;
  font-size: 0px;
  font-weight: 300;
}

.imagenes .texto {
  width: 600px;
  height: 100px;
  transition: 1s;
}

.imagenes:hover .texto {
  transition: height 1s, transform 1s, background-color 1s;
  transform: translateY(-150px);
  height: 300px;
  background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p {
  transition: font-size 0s 0.2s linear;
  font-size: 23px;
  font-weight: 300;

  text-shadow: 0px 0px 10px #000000;
}

.puntos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.puntos p {
  font-size: 100px;
  font-weight: 500;
  margin-top: -50px;
  color: black;
}

.puntos .bold {
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  color: #5317eb;
}
