/* Contenedor de la barra de navegacion */

body {
  margin: 0;
  padding: 0;
}

.navbar {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d65a31;
  padding-bottom: 10px;
}

/* con este CSS de abajo hacemos que el navbar se mantenga cuando baja el usuario */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* estas DOS opciones hacen que aparezca la linea encima del las opc del navbar */

.navbar a:hover {
  border-bottom: 2px solid black;
}

navbar a {
  transition: border-bottom 0.3s;
}

/* de aqui abajo basicamente es para que al presionar una opcion ayude a llevarte a esa parte del website */

html {
  scroll-behavior: smooth;
}

/* 
.navbar {
  background-color: transparent;
  transition: background-color 0.3s ease; /* hace que sea transparante */
/* } */
/* 
.navbar:hover {
  background-color: #0044ff; /*colo que quiero al pasar el rato */
/* } */

.navbar {
  background-color: d65a31;
  transition: backgroud-color 0.6s ease;
}

.navbar.scrolled {
  background-color: transparent; /* este hace que se mantenga invisi al scrolear */
}

.navbar:hover {
  background-color: #d65a31;
}

.navbar a {
  float: right;
  font-size: 16px;
  padding: 25px;
  text-decoration: none;
  font-weight: bold;
  padding-right: 70px;
  color: #faf6e9;
}

.name-logo h1 {
  font-size: 18px;
  color: #faf6e9;
  padding: 20px;
  padding-left: 10%;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
}

/* Estilo para la seccion hero */

.hero h1 {
  margin-top: 9%;
  padding-left: 10%;
  font-size: 3em;
  color: #eeeeee;
}

.hero h2 {
  margin-top: 0.2%;
  padding-left: 10%;
  font-size: 3em;
  display: inline-block;
  color: #eeeeee;
}

.hero p {
  margin-bottom: 1%;
  padding-left: 10%;
  text-align: justify;
  font-size: 1.4rem;
  line-height: 0.8rem;
  font-family: sans-serif;
  color: #eeeeee;
}

/* Contenedor principal del hero */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  height: 100%;
  background-color: #222831;
  padding: 10%;
}

/* CSS de la imagen de perfil en el hero */
/* Este es para la ubicacion de la foto de perfil en el hero */
.prof-imagen img {
  width: 350px;
  height: auto;
  padding-top: -390px;
  position: absolute;
  top: 20%;
  right: 12%;
  border-radius: 1.5rem;
}

/* CSS del boron iniciar */
/* Los primeros dos son para tamaño, ubicacion, letra, estilo del boton */

.boton-iniciar {
  margin-left: 75%;
  padding-left: 180%;
  margin-top: 10px;
  padding: 16px 95px;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  border: 1px solid #000000;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
}

/* estos de aqui abajo son las animaciones hechas del boton */

.boton-iniciar::before,
.boton-iniciar::after {
  content: "";
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.boton-iniciar::before {
  left: -10px;
  background: #d65a31;
}

.boton-iniciar::after {
  right: -10px;
  background: #d65a31;
}

.boton-iniciar:hover::before,
.boton-iniciar:hover::after {
  width: 58%;
}

.boton-iniciar:hover span {
  color: #faf6e9;
  transition: 0.3s;
}

.boton-iniciar span {
  color: #000000;
  font-size: 18px;
  transition: all 0.3s ease-in;
}
/* Hasta aqui termina la animacion del boton 'comenzar' a ver si podemos aplicarlo al navbar. */

/* este es el css del espacio donde estan metidas las cards de esta seccion */

.about-me {
  background-color: #222831;
  color: white;
  padding: 100px;
  min-height: 400px;
  overflow: hidden; /* evita que algo se desborde */
  width: 89.6%;
}

/* Este es el css del titulo de aboutme */

.about-title {
  padding: 15px;
  background-color: #d65a31;
  letter-spacing: 10px;
  line-height: 8px;
}

.about-title h2 {
  font-size: 8rem;
  color: #faf6e9;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about-title {
  letter-spacing: 8px;
  line-height: 8px;
}

/* este css de abajo es para la animacion de girar las tarjetas */

.card {
  height: 500px;
  width: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
  margin-left: 150px;
}

.card:hover {
  transform: rotateY(180deg);
}

.front-card,
.back-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #393e46;
  backface-visibility: hidden;
  color: #eeeeee;
}

.back-card {
  transform: rotateY(180deg);
}

.card2 {
  height: 500px;
  width: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
  margin-left: 650px;
  margin-top: -500px;
}

.card2:hover {
  transform: rotateY(180deg);
}

.card3 {
  height: 500px;
  width: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease-in-out;
  margin-left: 1150px;
  margin-top: -500px;
}

.card3:hover {
  transform: rotateY(180deg);
}

/*  Espacio del titulo de Proyectos que va antes del contenido principal */

.proyectos-title {
  background-color: #d65a31;
  padding: 15px;
  letter-spacing: 10px;
  line-height: 8px;
}

/* este es el css donde va ir el titulo de proyectos */

.proy-title h2 {
  font-size: 8rem;
  line-height: 10px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #faf6e9;
}

/* Este es el css del contender donde esta el contenido de los proyectos */

/* este css es nada mas back por si llega a salir algo mal en el nuevo que vamos a crear */

/* de aqui para abajo solo va el contendido */
/* Prueba 1 sacada del google */

/* 
.slide {
  width: 50%;
  flex-shrink: 0;
  position: relative;
  height: 50%;
}

.slide img {
  width: 100%;
  display: block;
}

.carrusel-subtitulos {
  position: relative;
  bottom: 20px;
  left: 20px;
  color: white;
  background-color: rgb(0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

.carrusel-subtitulos h3 {
  margin-top: 0;
}

/* css de los botones */
/* .prev-btn, */
/* .next-btn {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.7);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 10; */
/* } */

/* .prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
} */

.body-carrusel {
  width: 100vw;
  height: 70vh;
  background-color: #222831;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;

  /*CONTENEDOR DEL CARRUSEL */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  overflow: hidden;
}

/*contenedor del carrusel */

.carrusel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

/* basicamnente de aqui abjo es donde va titulo y imagenes */
.imagenes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

.img {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.85);
  height: 576px;
  width: 1134px;
  border-radius: 15px;
  margin: 5px;
  object-fit: cover;
  filter: saturate(175%);
}

.texto {
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  transform: translateY(0px);
  margin-bottom: 9px;
  backdrop-filter: blur(20px);
  background-color: rgb(63, 106, 138, 0.21);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
}

.texto h3 {
  text-shadow: 0px 0px 15px black;
  padding-top: 40px;
  color: white;
  font-weight: 300;
  font-size: 27px;
}

.texto p {
  align-items: center;
  padding: 20px;
  color: white;
  font-size: 0px;
  font-weight: 300;
}

.imagenes .texto {
  width: 600px;
  height: 100px;
  transition: 1s;
}

.imagenes:hover .texto {
  transition: height 1s, transform 1s, background-color 1s;
  transform: translateY(-150px);
  height: 300px;
  background-color: rgba(63, 106, 138, 0.71);
}

.imagenes:hover .texto p {
  transition: font-size 0s 0.2s linear;
  font-size: 23px;
  font-weight: 300;

  text-shadow: 0px 0px 10px #000000;
}

.puntos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.puntos p {
  font-size: 100px;
  font-weight: 500;
  margin-top: -50px;
  color: black;
}

.puntos .bold {
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  color: #5317eb;
}

/* Css de habilidades nada mas hacia abajo */

/* espacio de donde va ir el titulo */

.esp-habilidades {
  padding: 15px;
  background-color: #d65a31;
  letter-spacing: 10px;
}

.t-habilidades h2 {
  font-size: 8rem;
  line-height: 10px;
  text-align: center;
  color: #faf6e9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* de aqui abajo es donde va ir el contenido real de habilidades */

.contenido-hab {
  position: relative; /* con este lo moves a todos lados porque es el contenedor */
  height: 700px; /* creo que es mejor este que solo paddding para contenedor */
  display: flex;
  align-items: flex-start;
  gap: 40px; /* hacemos que inicie desde la izq */
  background-color: #222831;
}

.hab-info {
  flex: 1;
}

.hab-info h2 {
  font-size: 3rem;
  color: #eeeeee;
}

.hab-info p {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #eeeeee;
}

.titulo-habilidades {
  position: absolute; /* para mover elementos en contenedor usar este abs y el de arriba rel*/
  top: 5%; /* Cambia el porcentaje para moverlo verticalmente */
  left: 10%;
  right: auto;
  bottom: auto; /* manera correcta arriba, derecha y asi moverlo */
}

.skill-text {
  position: absolute;
  top: 20%;
  left: 9%;
  width: 600px;
  font-size: 20px;
  line-height: 1.5;
}

/* este es el css de las imagenes tamano y ubicacion */

/*
.skill-pictures img {
  width: 150px; /* con este el tamano de la img */
/*height: auto; /*activas la altura se supone */
/*margin-left: 55%; /*ubicas a la derecha */
/*argin-top: 50px; /*con este la altura wy*/

/*
.skill-pictures2 img {
  width: 150px;
  height: auto;
  margin-left: 70%;
  margin-top: -300px;
}
*/

.skill-pictures {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 50px;
  justify-content: center;
  margin-right: 15%;
  margin-top: 50px;
}

.skill-pictures img {
  width: 150px;
  height: auto;
  display: block;
  align-items: flex-start;
}

/* CSS del titulo de contacto */

.contacto {
  padding: 10px;
  background-color: #d65a31;
  letter-spacing: 10px;
}

.titulo-contacto h2 {
  font-size: 6rem;
  line-height: 10px;
  text-align: center;
  color: #faf6e9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* parte del contenido principal de contact me */

.contenedor-principal {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  background: none;
  position: relative;
  min-height: 780px;
  background-color: #222831;
}

.segundo-contenedor {
  background-color: #d65a31;
  width: 800px;
  height: 750px;
  position: relative;
  top: 10px;
  left: 200px;
  margin-bottom: 50px;
  border-radius: 15px;
}

.segundo-contenedor h2 {
  color: #d65a31;
  text-align: center;
  padding: 40px;
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* seccion de inputs y botones de el cuadro */

/* input de nombre compoleto */

.obtener-nombre {
  position: relative;
}

.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  margin-left: 150px; /* con este controlas la distancia */
  width: 60%; /* ancho del input */
  font-size: 1rem;
  color: #ffffff;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
  position: absolute;
  left: 15px;
  color: #e7e7e7;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 170px; /* con este lo unico dentro del input */
}

.input:focus,
input:valid {
  outline: none;
  border: 1.5px solid #222831;
}

.input:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: black;
  padding: 0 0.2rem;
  color: #ffffff;
}

/* termina input de nombre compoleto */

/* comienza css de input de email */

.obtener-email {
  position: relative;
}

.input-email {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  margin-left: 150px; /* con este controlas la distancia */
  width: 60%; /* ancho del input */
  font-size: 1rem;
  color: #ffffff;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.email-label {
  position: absolute;
  left: 15px;
  color: #e7e7e7;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 170px; /* con este lo unico dentro del input */
  margin-top: 30px;
}

.input-email:focus,
input:valid {
  outline: none;
  border: 1.5px solid #222831;
}

.input-email:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: black;
  padding: 0 0.2rem;
  color: #ffffff;
}

/* termina el css del iput de email*/

/* comienza css de input de asunto del correo */

.obtener-asunto {
  position: relative;
}

.input-asunto {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  margin-left: 150px; /* con este controlas la distancia */
  width: 60%; /* ancho del input */
  font-size: 1rem;
  color: #ffffff;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.asunto-label {
  position: absolute;
  left: 15px;
  color: #e7e7e7;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 170px; /* con este lo unico dentro del input */
  margin-top: 30px;
}

.input-asunto:focus,
input:valid {
  outline: none;
  border: 1.5px solid #222831;
}

.input-asunto:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: black;
  padding: 0 0.2rem;
  color: #ffffff;
}

/* comienza css de input del mensaje a enviar */

.obtener-mensaje {
  position: relative;
}

.input-mensaje {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  margin-left: 110px; /* con este controlas la distancia */
  height: 100px;
  vertical-align: top;
  width: 70%; /* ancho del input */
  font-size: 1rem;
  color: #ffffff;
  transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}

.input-mensaje {
  resize: vertical;
  text-align: left; /* AJUSTAR PARA COMENZARA ESCRIBIR DESDE EL INICIO DE LABEL*/
  vertical-align: top;
}

.mensaje-label {
  position: absolute;
  left: 15px;
  color: #e7e7e7;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: 170px; /* con este lo unico dentro del input */
  margin-top: 30px;
}

.input-mensaje:focus,
.input-mensaje:valid {
  outline: none;
  border: 1.5px solid #222831;
}

.input-mensaje:focus ~ label,
input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: black;
  padding: 0 0.2rem;
  color: #ffffff;
}

/* termina el css del mensaje que se esta enviando. */

/* aqui esta el css del boton de enviar informacion */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  overflow: hidden;
  height: 3rem;
  background-size: 300% 300%;
  cursor: pointer;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#212121, #212121),
    linear-gradient(
      137.48deg,
      #ffdb3b 10%,
      #fe53bb 45%,
      #8f51ea 67%,
      #0044ff 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  margin-top: 40px;
  margin-left: 30%;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

strong {
  z-index: 2;
  font-family: "Avalors Personal Use";
  font-size: 12px;
  letter-spacing: 5px;
  color: #ffffff;
  text-shadow: 0 0 4px white;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(254, 83, 186, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn:hover {
  transform: scale(1.1);
}

.btn:active {
  border: double 4px #fe53bb;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn:active .circle {
  background: #fe53bb;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* Aqui termina el css del boton que envia la info */

/* este es nada mas el css de lo iultimo que hay en la web */

.barra-baja {
  background-color: #d65a31;
  padding: 15px;
  text-align: center;
}

.barra-baja p {
  color: #ece8d9;
  font: 1.4rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* de aqui para abajo es el css para las pestañas para redes soiales en contact me */
/* tambien estamos editando parte de segundo contenedor */

.info-contacto {
  width: 300px;
  background: #222831;
  padding: 40px 20px;
  border-radius: 15px;
  color: #d65a31;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 70px;
}

.info-contacto h3 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.social-icons {
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* Este sirve por si no caben en la misma contendorm se bajan, no se salen de el.*/
  max-width: 300px; /* y este dice las cokumnas que son si son 300 pues son 4 columnas */
}

.social-icons a {
  color: #fff;
  font-size: 2.5rem;
  transition: transform 0.2s;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.segundo-contenedor {
  width: 800px;
  height: 800px;
  background-color: #393e46;
  margin-bottom: 50px;
  border-radius: 15px;
  position: static; /* Elimina left/top para que no se desplace */
}

/* 
.social-icons2 {
  display: flex;
  gap: 20px;
  padding-top: 90px;
  padding-left: 50px;
}

.social-icons2 a:hover {
  transform: scale(1.2);
}

.social-icons2 a {
  color: #fff;
  font-size: 2.5rem;
  transition: transform 0.2s; */
/* } */
/* vamos a ver como funcona quitando uno de ellos */
